*{
  margin: 0px;
  padding: 0px;
  background-color: black;
  color:white;
}
.table{
  justify-content: space-around;
  border-collapse: collapse;
  background-color: black;
  color:white;
}
.row{
  margin:2px;
}
