*{
  margin: 0px;
  padding: 0px;
  background-color: black;
  color:white;
}
.table{
  display: flex;
  justify-content: center;
  align-items: center;
height: 100vh;
  border-collapse: collapse;
  background-color: black;
  color:white;
}
.row{
  padding:4px 10px;
}
